@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn { @apply px-6 py-2 bg-mustard hover:bg-mustard-400 inline-block text-center; }
  .img-white { filter: brightness(0) saturate(100%) invert(99%) sepia(87%) saturate(0%) hue-rotate(247deg) brightness(118%) contrast(100%); }
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
